.popup__form-about {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
   }