.element__like-button {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url('../../../images/element/__like-button/element__like-button.png');
    background-size: cover;
    border: none;
    background-color: #fff;
}

.element__like-button:hover {
    background-image: url('../../../images/element/__like-button/profile__like-button-hover.png');
    
}